



<div data-bind="foreach: $col.getAttachmentList($row()), attr: { id: $col.getAttachmentListId($row())}">
    <span data-bind="">
    <span data-bind="text: ($index() + 1)"> </span>
        <a target="_blank" data-bind="attr: {
            href: download_link},
            text: title
        "></a>
    </span>
    <br data-bind=""/>
</div>
