








<div>
<!--<img attr="src: $col.getSrc($row()), alt: $col.getAlt($row())" /> javascript:this.form.submit();-->

<div class="upload-attachment">
    <div id="spinner" class="spinner">
    </div>
    <form id="frm" data-bind="attr: {
        action: $col.getUploadUrl($row()),
        enctype: 'multipart/form-data',
        method: 'post'
    }" >
        <fieldset class="admin__fieldset downloadable-form">
        <input attr="{value: $col.getFormkey($row())}" name="form_key" type="hidden">
        <input attr="{value: $col.getId($row())}" name="cms_id" type="hidden">
	<div id="upl" class="drop drop-zone">
	<span>Drop files here or click to upload</span>
	<input  attr="{id: $col.getId($row()), type: 'file', name: $col.getName($row())},fileUpload: {url: 'url', id: 'id'} " id="file" type="file"  name="file" multiple >
	</div>
    <!-- <input type="submit"  name="sub" id="sub"> -->
</fieldset>
    </form>

  
</div>


</div>

