<?php $object_manager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php
$_helper = $object_manager->create('FME\Productattachments\Helper\Data');
$item = $this->attachments();
$storerurl = $this->_storeManager->getStore()->getUrl('productattachments');
?>
<?php if (count($item) > 0): ?>
    <div id="wrapper">
        <div class="attachment_sections_detail">
            <div class="headbar">
                <h3><?php /** @noEscape */ echo $item['title']; ?></h3>
                
                <?php if ($this->_scopeConfig->getValue('productattachments/productattachments/showcontent')): ?>
                    <?php if (isset($item['content']) && $item['content'] != ''): ?>
                        <p>&nbsp;&nbsp;<?php /** @noEscape */ echo $item['content']; ?></p>
                    <?php endif; ?>
                <?php endif; ?>
            </div>

            <div class="pa_attachments">
                <ul>

                    <?php //if ($item['download_link'] != ''):  ?>
                    <?php
                    if (!$object_manager->create('Magento\Customer\Model\Session')->isLoggedIn()) {
                        $object_manager->create('Magento\Customer\Model\Session')->setBeforeAuthUrl($this->_storeManager->getStore()->getCurrentUrl());
                    }
                    ?>
                    <?php //if ($item->getDownloadLink() != ''): 
                                   $ext = pathinfo($item['filename'], PATHINFO_EXTENSION);
                                    ?>
                    <?php if ($item['file_size'] > 0): ?>
                    <li>
                        <?php
                        // check if file is attached
                        
                            //check download limit
                            if ($item['limit_downloads'] != "" && $item['limit_downloads'] != 0) {
                                                if ($item['downloads'] == $item['limit_downloads']) {
                                                    /** @noEscape */ echo '<a href="javascript:;" onclick="alert(\'You can not download because this attachment excceds the number of download\');">' . $item['file_icon'] . '&nbsp;<b>' . $item['title'] . '</b></a>  Size: (' . $item['file_size'] . ')';

                                                    

                                                }
                                                 else {
                                                    if(($ext == 'pdf' || $ext == 'PDF') && $this->iscms_pdflink()){
                                                     /** @noEscape */ echo '<a target="_blank" href=https://docs.google.com/viewer?url=' . $storerurl . 'index/download?id=' . $item['productattachments_id'] . '>' . $item['file_icon'] . '&nbsp;<b>' . $item['title'] . '</b></a>  Size: (' . $item['file_size'] . ')';
                                                    }else{
                                                        echo '<a href="' . $storerurl . 'index/download?id=' . $item['productattachments_id'] . '">' . $item['file_icon'] . '&nbsp;<b>' . $item['title'] . '</b></a>  Size: (' . $item['file_size'] . ')';
                                                    }

                                                }
                                            } 
                                            else {
                                                if(($ext == 'pdf' || $ext == 'PDF') && $this->iscms_pdflink()){
                                                     /** @noEscape */ echo '<a target="_blank" href=https://docs.google.com/viewer?url=' . $storerurl . 'index/download?id=' . $item['productattachments_id'] . '>' . $item['file_icon'] . '&nbsp;<b>' . $item['title'] . '</b></a>  Size: (' . $item['file_size'] . ')';
                                                    }else{
                                                        echo '<a href="' . $storerurl . 'index/download?id=' . $item['productattachments_id'] . '">' . $item['file_icon'] . '&nbsp;<b>' . $item['title'] . '</b></a>  Size: (' . $item['file_size'] . ')';
                                                    }
                                            }

                            if ($this->_scopeConfig->getValue('productattachments/general/show_counter')) {
                               /** @noEscape */ echo '&nbsp;&nbsp;' . __('Downloads: ' . $item['downloads']);
                            }
                        
                        ?>
                        
                    </li>
                    
                    <?php endif;  ?>
                    
                    <?php if ($item['link_url'] != ''): ?>
                        <?php
                        $linkTitle = 'Go To';
                        if ($item['link_title'] != '') {
                            $linkTitle = trim($item['link_title']);
                        }
                        ?>
                        <li>
                            <a href="<?php echo $item['link_url'] ?>" target="bottom">
                                <img src="<?php echo $this->getViewFileUrl('FME_Productattachments::images/link.jpg') ?>" width="18"/>
                                <?php echo __($linkTitle) ?>
                            </a>
                        </li>
                    <?php endif; ?> 

                    <?php if ($item['embed_video'] != ''): ?>
                        <?php $vidTitle = trim($item['video_title']); ?>
                        <li>
                            <a href="<?php echo $item['embed_video']; ?>" rel="prettyPhoto" title="<?php echo $vidTitle ?>">
                                <img src="<?php echo $this->getViewFileUrl('FME_Productattachments::images/videoicon.jpeg') ?>"/>&nbsp;<?php echo ($vidTitle != '') ? $vidTitle : ''; ?>
                            </a>
                        </li>
                    <?php endif; ?> 
                </ul>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8">

        require(["jquery", "prettyphoto"], function($){
            // plugin code
            // where $ == "jquery"
            $(document).ready(function () {
                    
                $("a[rel^='prettyPhoto']").prettyPhoto({
                    animation_speed: 'fast', 
                    slideshow: 10000, 
                    hideflash: true,
                    theme: 'pp_default',
                });

            });
        }); 
    </script>
    </div>
<?php else: ?>
    <h2><?php echo __('Currently there\'re no attachment to display!'); ?></h2>
<?php endif; ?>
