<?php $object_manager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php 
    $_helper = $object_manager->create('FME\Productattachments\Helper\Data');
    $_productAttachmentsCategories = $_helper->getAllParentCategories(1, true);
//print_r($_productAttachmentsCategories);exit;
    $front = true;
    $frontName = $_helper->getFrontName();
?>

<?php if ($_productAttachmentsCategories->getSize() > 0): ?>
    <div id="productattachments-wrapper">
        <div class="attachment_sections_box">
<!--            <div class="headbar">
                <p><?php //echo __('Downloads'); ?></p>
            </div>-->
            <p>
                <?php 
                /** @noEscape */
                    echo $this->filterProvider
                        ->getPageFilter()
                        ->filter($_helper->getFrontDesc());
                ?>
            </p>
            <?php
            $counter = 1;
            ?>
            <?php foreach ($_productAttachmentsCategories as $category): ?>
                <div class="box">
                    <div class="name">
                        <p>
                            <a href="<?php 
                            
                                //echo $object_manager->get('Magento\Framework\Url')->getUrl('*/*/view', array('u' => $category->getCategoryUrlKey())) 
                                        /** @noEscape */
                                echo $object_manager->get('Magento\Framework\Url')->getUrl($frontName).$category->getCategoryUrlKey();
                                    /** @noEscape */
                            ?>">
                                <?php echo $category->getCategoryName(); ?>
                            </a> 
                             <?php /** @noEscape */ echo '(' . $this->countSubCategories($category->getCategoryId(), $front) . ')'; ?></p>
                    </div>
                    <?php if ($_helper->getSubCategories($category->getCategoryId(), $front)->count() > 0): ?>
                        <?php
                        $sub = $_helper->getSubCategories($category->getCategoryId(), $front);
                        ?>	
                        <ul>
                            <?php foreach ($sub as $item): ?>

                                <li><a href="<?php 
                                /** @noEscape */        
                                //echo $object_manager->get('Magento\Framework\Url')->getUrl('*/*/view', array('u' => $item->getCategoryUrlKey())) 
                                echo $object_manager->get('Magento\Framework\Url')->getUrl($frontName).$item->getCategoryUrlKey();
                                        
                                        ?>"><?php echo $item->getCategoryName(); ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php else: ?>
                        <p><?php echo 'No Sub-Category to display.' ?></p>
                    <?php endif; ?>

                </div>

                <?php $counter++; ?>
            <?php endforeach; ?>
        </div>
    </div>

<?php else: ?>
    <h2><?php echo __('Currently there\'re no attachment to display!'); ?></h2>
<?php endif; ?>